@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  

   /* For onboarding page */
  /* Custom blues */
  --blue-dark: #00304B;
  --blue-medium-dark: #005281;
  --blue-medium: #0070B1;
  --blue-light: #0088D6;


  --orange-dark: #5E2C00;
  --orange-medium-dark: #984700;
  --orange-medium: #D26300;
  --orange-light: #FF7800;

  

   /* For (main) page */
  --astro-orange: #FF7800;
  --astro-blue: #0387D0;
  --astro-green: #059440;
  --astro-yellow: #CCAF1B;



  






}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom blue sections for auth pages */
.blue-section-1 {
  background-color: var(--blue-light);
}

.blue-section-2 {
  background-color: var(--blue-medium);
}

.blue-section-3 {
  background-color: var(--blue-medium-dark);
}

.blue-section-4 {
  background-color: var(--blue-dark);
}

/* Custom orange sections for auth pages */
.orange-section-1 {
  background-color: var(--orange-light);
}

.orange-section-2 {
  background-color: var(--orange-medium);
}

.orange-section-3 {
  background-color: var(--orange-medium-dark);
}

.orange-section-4 {
  background-color: var(--orange-dark);
}

/* Custom thin scrollbar */
.thin-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.thin-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Hide scrollbars completely */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
